{% extends "layout.html" %}
{% block title %}
Create
{% endblock %}

{% block main %}
<a class="back" href="/">
    <img src="{{ url_for('static', filename='images/back.png') }}">
</a>
<div class="page-container">
    <form action="/create" method="post">
        <div>
            <input required autofocus autocomplete="off" type="text" name="name" placeholder="Group name">
        </div>
        <div>
            <label for="subject">Do you want subgroups / subjects?</label>
            <input type="checkbox" name="subject" id="subject" value='1'>
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>

    {% if error %}
        <p style="color: red; text-align: center;">{{error}}</p>
    {% endif %}
</div>
{% endblock %}