{% extends "layout.html" %}
{% block title %}
    {{group['name']}}
{% endblock %}
{% block main %}
<a class="back" href="/">
    <img src="{{ url_for('static', filename='images/back.png') }}">
</a>
<a class="delete-btn" href="{{url_for('delete_group', id=id)}}">
    <button>Delete Group</button>
</a>
<div class="page-container">
    <div class="attendance-info">
        <div class="stat-box">
            <label>Attendance</label>
            <span class="value">{{percent}}%</span>
        </div>
        <div class="stat-box">
            <label>Attended</label>
            <span class="value">{{attendance.attend}}</span>
        </div>
        <div class="stat-box">
            <label>Conducted</label>
            <span class="value">{{attendance.conduct}}</span>
        </div>
    </div>

    {% if group['use_subgroups'] == 1 %}
        <div class="subject-list">
            <ul>
                {% for s in subject %}
                    <li><a href="{{url_for('subject', group_id=id, sub_id=s.id)}}">{{ s.name }}</a></li>
                {% endfor %}
            </ul>
            <a href="{{ url_for('create_subject', id=id) }}"><button style="margin-top: 20px;">Add subject</button></a>
        </div>
    {% else %}

        {% if error %}
            <p style="color: red; text-align: center;">{{error}}</p>
        {% endif %}

        <form action="{{url_for('group', id=id)}}" method="post">
            <div>
                <input required autocomplete="off" min="0" name="lec_attend" type="number" placeholder="Lecture attended">
            </div>
            <div>
                <input required autocomplete="off" min="1" name="lec_conduct" type="number" placeholder="Lecture conducted">
            </div>
            <div>
                <input required type="date" name="date" value="{{ today }}">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>


        <h4>History</h4>
        <table>
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Lecture attended</td>
                    <td>Lecture conducted</td>
                </tr>
            </thead>
            <tbody>
                {% for s in history %}
                    <tr>
                        <td>{{s.date}}</td>
                        <td>{{s.lecture_attended}}</td>
                        <td>{{s.lecture_conducted}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}

