{% extends "layout.html" %}
{% block title %}
    {{group['name']}}
{% endblock %}
{% block main %}

    <div>
        <a href="/">
            <img src="{{ url_for('static', filename='images/back.png') }}">
        </a>
    </div>

    <div>
        Current attendance: {{percent}}
    </div>
    <div>
        lecture attended: {{attendance.attend}}
    </div>
    <div>
        lecture conducted: {{attendance.conduct}}
    </div>

    {% if group['use_subgroups'] == 1 %}
        <div>
            <ul>
                {% for s in subject %}
                    <li><a href="{{url_for('subject', group_id=id, sub_id=s.id)}}">{{ s.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <a href="{{ url_for('create_subject', id=id) }}"><button>+</button></a>
        </div>
    {% else %}
        <form action="{{url_for('group', id=id)}}" method="post">
            <div>
                <input required autocomplete="off" min="0" name="lec_attend" type="number" placeholder="Lecture attended">
            </div>
            <div>
                <input required autocomplete="off" min="1" name="lec_conduct" type="number" placeholder="Lecture conducted">
            </div>
            <div>
                <input required type="date" name="date" value="{{ today }}">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>

        <div>
            {% if error %}
                <p style="color: red;">{{error}}</p>
            {% endif %}
        </div>
        <div>
            <h4>History</h4>
            <table>
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Lecture attended</td>
                        <td>Lecture conducted</td>
                    </tr>
                </thead>
                <tbody>
                    {% for s in history %}
                        <tr>
                            <td>{{s.date}}</td>
                            <td>{{s.lecture_attended}}</td>
                            <td>{{s.lecture_conducted}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}